/* ----------------------------------------------------------------------------------------------------- */
/* --- Node common -------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */

.artboard{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #ccc
}

.artboard .jtk-endpoint, .artboard .jtk-connector, .artboard .jtk-overlay {
    z-index: 9999;
}

.table, .view {
    background-color: #3E7E9C;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    z-index: 0;
    min-width:80px;
    min-height:30px;
    width: auto;
    border:1px solid #ccc;
}

.table .name, .view .name, .table li.jtk-draggable, .view li.jtk-draggable {
    background-color: #3E7E9C;
    color: #f7ebca;
    cursor: move;
    font-size: 13px;
    line-height: 24px;
    padding: 6px;
    text-align: center;
}


.table li.jtk-draggable, .view li.jtk-draggable {
    min-width:100px;
    border-radius:14px;
}

.table .name span, .view .name span {
    cursor:pointer;
}

/* ----------------------------------------------------------------------------------------------------- */
/* --- Table nodes -------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */


.table {
    margin-bottom: 0;
    min-width: 200px;
}

.table-columns {
    margin:0;
    padding:0;
}

.table-column {
    list-style-type: none;
    padding: 4px 6px;
}


.table-column-delete, .view-delete {
    color: #407364;
    padding: 2px;
    cursor: pointer;
    float: left;
    font-size: 10px;
    line-height: 10px;
}


.table-column-edit {
    color: #407364;
    float: right;
    cursor: pointer;
}

.new-column, .delete, .table-column-delete {
    -webkit-transition: background-color 0.15s ease-in;
    -moz-transition: background-color 0.15s ease-in;
    -o-transition: background-color 0.15s ease-in;
    transition: background-color 0.15s ease-in;
}

.new-column:hover, .delete:hover {
    color: #ff8000;
}

.table-column-delete:hover {
    color: #434343;
}

.table-column-type-varchar {
    background-color: #cbeae1;
}

.table-column-type-integer {
    background-color: #cbe6de;
}

.table-column-type-date {
    background-color: #e5f5f0;
}

.table-column[primary-key='true'] {
    background-color:#83b8a8;
}

/* ----------------------------------------------------------------------------------------------------- */
/* --- View nodes -------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */

.view {
    margin-bottom: 0;
    width: 200px;
    overflow: hidden;
    background-color: white;
}

.view-details {
    font-size: 10px;
    font-family: Courier;
    padding: 10px;
}

.view .view-delete {
    color: #f7ebca;
    padding: 2px;
    cursor: pointer;
    float:left;
    font-size: 10px;
    line-height: 20px;
}

.view .view-delete:hover {
    color: #ff8000;
}

.txtViewQuery {
    width: 272px;
    height: 132px;
}

/* ---------------------------------------------------------------------------------------------------- */
/* --- Drag/drop interactions ------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
.drop-hover {
    background-color: #629f72 !important;
    color: #FFF !important;
}

/* ----------------------------------------------------------------------------------------------------- */
/* --- Edge styles ------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */

.delete-relationship {
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
}

.delete-relationship:hover {
    color: #FFF;
    background-color: #434343;
    padding: 4px;
}

.common-edge path {
    stroke-width: 3;
    stroke: #f76258;
}

.common-edge.jtk-hover path {
    stroke:#434343;
}


/* ----------------------------------------------------------------------------------------------------- */
/* --- dialogs ------------------------- */
/* ----------------------------------------------------------------------------------------------------- */

.form-labels-float {
    float: left;
    font-weight: bold;
    text-align: right;
    padding-right: 6px;
    padding-top: 6px;
    font-size: 14px;
}

.form-labels {
    font-weight: bold;
    text-align: left;
    padding-right: 6px;
    font-size: 14px;
}

.checkbox-id {
    margin-top: 6px;
    margin-left: 22px;
}

.btn-icon-margin {
    line-height: 18px;
    margin-left: 10px;
}


.pull-left { float: left; }
.clearfix { clear: both; }

